* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;
}
.head {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background-color: #2a2c2e;
  flex-shrink: 0;
}
ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
.banner {
  display: flex;
  width: 100%;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: #f4ce47;
  overflow: hidden;
}

.main {
  display: flex;
  max-width: 1729px;
  background: #2a2c2e;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}
.card {
  display: flex;
  max-height: 577px;
  flex-direction: column;
  padding: 24px;
  gap: 8px;
  border-radius: 20px;
  background: #fff;
}
.card img {
  width: 246px;
  height: 357px;
}
.star img {
  width: 16px;
  height: 16px;
}
.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: #ffffff;
}
.socmed img {
  width: 24px;
  height: 24px;
}
.upfoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: #2a2c2e;
}
.downfoot {
  display: flex;
  justify-content: space-between;
}
