* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
body > div {
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.head {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  gap: 20px 90px;
  border-radius: 20px;
  background-color: #2a2c2e;
}
@media (max-width: 575px) {
  ul {
    flex-direction: column;
    text-align: center;
  }
  .head {
    flex-direction: column;
    width: 100vw;
    height: 60vh;
  }
  .upfoot {
    flex-direction: column;
  }
  .downfoot {
    flex-direction: column;
    align-items: center;
  }
}
ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  color: #fff;
}
a {
  all: unset;
  cursor: pointer;
}
.login {
  display: flex;
  align-items: center;
  gap: 20px;
}
button {
  all: unset;
  background-color: #f4ce47;
  cursor: pointer;
  padding: 16px 28px;
  border-radius: 10px;
}
.banner {
  display: flex;
  width: 100%;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: #f4ce47;
  overflow: hidden;
}
.banner p {
  color: #d4a600;
  white-space: nowrap;
}

.main {
  display: flex;
  max-width: 100%;
  background: #2a2c2e;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  flex-grow: 1;
}
.card {
  display: flex;
  max-height: 577px;
  flex-direction: column;
  padding: 24px;
  gap: 8px;
  border-radius: 20px;
  background: #fff;
}
.card img {
  width: 246px;
  height: 357px;
}
.star img {
  width: 16px;
  height: 16px;
}
.footer {
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: #ffffff;
  border-radius: 4px;
}
.socmed img {
  width: 24px;
  height: 24px;
}
.upfoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: #2a2c2e;
  border-radius: 4px;
  padding: 0 8px;
}
.downfoot {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}
.line {
  display: inline-block;
  width: 50px; /* Adjust width as needed */
  height: 1px; /* Adjust thickness as needed */
  background-color: black; /* Adjust color as needed */
  margin-left: 10px; /* Adjust spacing from text */
}
