* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
label:not(.availability, .confirmation) {
  width: 120px;
  display: inline-block;
  padding: 12px 0 12px 8px;
}
.availability {
  padding: 12px 0 12px 8px;
  margin: 24px 0;
}
.confirmation {
  padding: 12px 0 12px 8px;
  margin: 24px 0;
}
.availability > input {
  margin-left: 48px;
}
.confirmation > input {
  margin-right: 20px;
}
form {
  margin: 12px;
  width: 709px;
  background-color: #2a2c2e;
  color: whitesmoke;
}
button {
  width: 709px;
  height: 56px;
  background-color: #f4ce47;
  color: black;
  border: none;
  border-radius: 20px;
}
input:not(.availability, .confirmation) {
  width: 80%;
  height: 40px;
  margin: 8px;
  border-radius: 20px;
  border: none;
  padding: 8px;
}
fieldset {
  display: flex;
  justify-content: center;
  background-color: #2a2c2e;
  margin: 8px;
  border-radius: 16px;
  border: none;
}
select {
  width: 80%;
  height: 40px;
  border-radius: 20px;
  margin-left: 10px;
  padding: 8px;
}
.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: #ffffff;
  border-radius: 4px;
  margin-top: auto;
}
.socmed img {
  width: 24px;
  height: 24px;
}
.upfoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: #2a2c2e;
  border-radius: 4px;
  padding: 0 8px;
}
.downfoot {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}
.head {
  display: flex;

  width: 1200px;
  padding: 20px 24px;
  border-radius: 20px;
  background-color: #2a2c2e;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.line {
  display: inline-block;
  width: 584px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  margin-bottom: 4px;
}
.linee {
  display: inline-block;
  width: 544px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  margin-bottom: 4px;
}
